/.idea/.gitignore
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/timeflip2-hacs.iml
/.idea/vcs.xml
.DS_Store
__pycache__